<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/background.css}">

<title>Collagify</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

</head>

<body>
	<div class="container-full-bg"></div>

	<div class="jumbotron jumbotron-fluid bg-transparent">
		<div class="card-img-overlay">	
			<div class="container text-white">

				<br><h2 class="display-1 text-center">Uh-oh!</h2><br>

				<h5 class="dispay-3 text-center"> Something went wrong, please try again later.</h5>

				<hr class="my-4">

				<br>

				<p class="lead text-center">
					<a th:href="@{/}" class="btn btn-outline-light btn-lg">Try Again</a>
				</p>	
				<br>
			</div>
		 </div>

		<div style="text-align:center;">
			<a class="github-button" href="https://github.com/atangzer/spotify-plugin" data-color-scheme="no-preference: light; light: light; dark: dark;" aria-label="Follow @atangzer on GitHub">About Collagify</a>
		</div>	

	</div>

</body>
</html>