<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Spotify</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="d-flex flex-column">
		
		<h1 class="pt-3 text-center">Anna's Spotify Plug-In</h1>
		<h3 class="text-center">Create a picture grid using the album covers of your top Spotify songs!</h3>
			
		<img class="py-5 img-fluid mx-auto" src="../../../../collages/collage.png" alt = "collage" style = "width:700px;height:700px;">
		
		<div class="pt-4 d-flex justify-content-center">
			<a class="btn btn-primary btn-lg" href="/oauth2/authorization/spotify" role="button">Get Started</a>
		</div>	
	</div>

</body>

</html>